<template>
    <div>
        <button class="btn btn-outline-primary" data-toggle="modal" :data-target="`#modal-${id}`">Resultado</button>

        <div class="modal fade bd-example-modal-lg" :id="`modal-${id}`" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Resultado</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <table class="table table-striped table-bordered">
                            <tbody>
                            <tr>
                                <th colspan="4">IDENTIFICAÇÃO - PESSOA JURÍDICA</th>
                            </tr>
                            <tr>
                                <th>CNPJ:</th>
                                <td>{{ sintegra.cnpj }}</td>
                                <th align="center">Inscrição Estadual:</th>
                                <td>{{ sintegra.inscricao_estadual }}</td>
                            </tr>
                            <tr>
                                <th>Razão Social :</th>
                                <td colspan="3">{{ sintegra.razao_social }}</td>
                            </tr>
                            <tr>
                                <th colspan="4">ENDEREÇO</th>
                            </tr>
                            <tr>
                                <th>Logradouro:</th>
                                <td colspan="3">{{ sintegra.logradouro }}</td>
                            </tr>
                            <tr>
                                <th>Número:</th>
                                <td>{{ sintegra.numero }}</td>
                                <th>Complemento:</th>
                                <td>{{ sintegra.complemento }}</td>
                            </tr>
                            <tr>
                                <th>Bairro:</th>
                                <td colspan="3">{{ sintegra.bairro }}</td>
                            </tr>
                            <tr>
                                <th>Município:</th>
                                <td>{{ sintegra.municipio }}</td>
                                <th>UF:</th>
                                <td>{{ sintegra.uf }}</td>
                            </tr>
                            <tr>
                                <th>CEP:</th>
                                <td>{{ sintegra.cep }}</td>
                                <th>Telefone:</th>
                                <td>{{ sintegra.telefone }}</td>
                            </tr>
                            <tr>
                                <th colspan="4">INFORMAÇÕES COMPLEMENTARES</th>
                            </tr>
                            <tr>
                                <td align="right">Atividade Econômica:</td>
                                <td colspan="3">{{ sintegra.atividade_economica }}</td>
                            </tr>
                            <tr>
                                <td align="right">Data de Inicio de Atividade:</td>
                                <td colspan="3">{{ sintegra.data_de_inicio_de_atividade }}</td>
                            </tr>
                            <tr>
                                <td align="right">Situação Cadastral Vigente:</td>
                                <td colspan="3">{{ sintegra.situacao_cadastral_vigente }}</td>
                            </tr>
                            <tr>
                                <td align="right">Data desta Situação Cadastral:</td>
                                <td colspan="3">{{ sintegra.data_desta_situacao_cadastral }}</td>
                            </tr>
                            <tr>
                                <td align="right">Regime de Apuração:</td>
                                <td colspan="3">{{ sintegra.regime_de_apuracao }}</td>
                            </tr>
                            <tr>
                                <td align="right">Emitente de NFe desde:</td>
                                <td colspan="3">{{ sintegra.emitente_de_nfe_desde }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'sintegra-modal-result',
        props: ['sintegra', 'id']
    }
</script>

<style scoped></style>