<template>
    <div>
        <form @submit.prevent="searchSintegra" class="form-inline">
            <div class="form-group mb-2 col-md-12">
                <label for="cnpj" class="col-md-3">CNPJ</label>
                <input type="text" class="form-control mx-sm-2" v-model="cnpj" id="cnpj">
                <span class="form-text text-muted">*Sem pontuação</span>
            </div>

            <button type="submit" class="btn btn-outline-primary mx-2">Pesquisar</button>
        </form>

        <div class="table-responsive mt-3" v-if="sintegra">
            <table class="table table-striped table-bordered">
                <tbody>
                    <tr>
                        <th colspan="4">IDENTIFICAÇÃO - PESSOA JURÍDICA</th>
                    </tr>
                    <tr>
                        <th>CNPJ:</th>
                        <td>{{ sintegra.cnpj }}</td>
                        <th align="center">Inscrição Estadual:</th>
                        <td>{{ sintegra.inscricao_estadual }}</td>
                    </tr>
                    <tr>
                        <th>Razão Social :</th>
                        <td colspan="3">{{ sintegra.razao_social }}</td>
                    </tr>
                    <tr>
                        <th colspan="4">ENDEREÇO</th>
                    </tr>
                    <tr>
                        <th>Logradouro:</th>
                        <td colspan="3">{{ sintegra.logradouro }}</td>
                    </tr>
                    <tr>
                        <th>Número:</th>
                        <td>{{ sintegra.numero }}</td>
                        <th>Complemento:</th>
                        <td>{{ sintegra.complemento }}</td>
                    </tr>
                    <tr>
                        <th>Bairro:</th>
                        <td colspan="3">{{ sintegra.bairro }}</td>
                    </tr>
                    <tr>
                        <th>Município:</th>
                        <td>{{ sintegra.municipio }}</td>
                        <th>UF:</th>
                        <td>{{ sintegra.uf }}</td>
                    </tr>
                    <tr>
                        <th>CEP:</th>
                        <td>{{ sintegra.cep }}</td>
                        <th>Telefone:</th>
                        <td>{{ sintegra.telefone }}</td>
                    </tr>
                    <tr>
                        <th colspan="4">INFORMAÇÕES COMPLEMENTARES</th>
                    </tr>
                    <tr>
                        <td align="right">Atividade Econômica:</td>
                        <td colspan="3">{{ sintegra.atividade_economica }}</td>
                    </tr>
                    <tr>
                        <td align="right">Data de Inicio de Atividade:</td>
                        <td colspan="3">{{ sintegra.data_de_inicio_de_atividade }}</td>
                    </tr>
                    <tr>
                        <td align="right">Situação Cadastral Vigente:</td>
                        <td colspan="3">{{ sintegra.situacao_cadastral_vigente }}</td>
                    </tr>
                    <tr>
                        <td align="right">Data desta Situação Cadastral:</td>
                        <td colspan="3">{{ sintegra.data_desta_situacao_cadastral }}</td>
                    </tr>
                    <tr>
                        <td align="right">Regime de Apuração:</td>
                        <td colspan="3">{{ sintegra.regime_de_apuracao }}</td>
                    </tr>
                    <tr>
                        <td align="right">Emitente de NFe desde:</td>
                        <td colspan="3">{{ sintegra.emitente_de_nfe_desde }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
    const url = window.location.host;

    export default {
        name: 'sintegra-search',
        data () {
            return {
                cnpj: '',
                sintegra: null
            }
        },
        methods: {
            searchSintegra () {
                window.axios.get(`/api/sintegra/es/${this.cnpj}`).
                then((res) => {
                    return res.data;
                }).then((res) => {
                    console.log(res);
                    this.sintegra = res.data.data;
                });
            }
        }
    }
</script>

<style scoped></style>